@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 200, 200, 200;
}

* {
  transition: all 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 200, 200, 200;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.game {
  @apply text-center flex bg-gray-500 w-[90vw] sm:w-3/12 mt-[140px] mb-[6vh];
}

.game tbody {
  @apply gap-px flex flex-col w-full;
}

.game tr {
  @apply gap-px flex w-full;
}

.game td {
  @apply text-gray-600 flex justify-center items-center h-10 cursor-pointer bg-white;
  max-width: calc(100% / 9 - 1px);
  min-width: calc(100% / 9 - 1px);
}

.game .clicked {
  @apply bg-blue-500 !important;
}

.game .disabled {
  @apply opacity-20 cursor-not-allowed bg-gray-300 text-gray-300;
}

.main {
  @apply flex flex-col w-full items-center gap-4;
}

.buttons {
  @apply flex justify-center w-full gap-4 bg-black text-black fixed p-4 top-14 z-10;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.buttons button {
  @apply p-2 border-2 w-full sm:w-32 flex flex-col items-center text-center cursor-pointer rounded-lg bg-white hover:bg-gray-300;
}

.help {
  @apply bg-yellow-500 !important;
}

.buttons button:disabled {
  @apply cursor-not-allowed border-white border-2 bg-transparent;
}

.loading {
  @apply w-full left-0 text-2xl font-bold h-full absolute flex items-center justify-center;
}

.menu {
  @apply fixed w-screen sm:w-1/4 h-screen left-[-100vw] top-0 bg-gray-100 p-8 pt-6 text-black text-center flex flex-col z-50;
}

.active {
  @apply left-0 top-0;
}

.title {
  @apply text-2xl mb-4;
}

.menu-button {
  @apply flex gap-4 p-2 rounded-lg bg-white hover:bg-gray-200;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
}

.menu-buttons {
  @apply flex flex-col gap-2;
}

.nav {
  @apply flex bg-black h-14 justify-between items-center p-2 pt-1 border-b fixed w-screen z-10;
}

.nav-title {
  @apply w-full text-center text-2xl;
}

.modeModal {
  @apply absolute w-screen h-screen bg-black bg-opacity-50 left-0 top-0 flex flex-col justify-center;
}

.modalMain {
  @apply p-4 bg-white sm:w-3/12 m-8 sm:m-auto flex flex-col gap-4 rounded-lg;
}

.modalTitle {
  @apply flex justify-between items-center;
}

.modalTitle h2 {
  @apply text-xl font-bold;
}

.modalSelect {
  @apply w-full p-4 pt-2 pb-2 rounded-lg bg-white;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
}

.modalButton {
  @apply flex justify-center rounded-lg p-2 w-full bg-green-500;
}

.footer {
  @apply fixed w-screen bottom-[-324px] bg-white p-2 pe-4 ps-4 text-black flex flex-col justify-between cursor-pointer;
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}

.footerActived {
  @apply bottom-0;
}

.footerTitle {
  @apply flex justify-center gap-2 items-center;
}

.footerTitle h3 {
  @apply text-center text-xl font-bold;
}

.footerList {
  @apply flex flex-col gap-1;
}

.footerItem {
  @apply flex justify-between;
}
